*{
    padding: 0px;
    margin: 0px;
}
ul{
    list-style: none; /*estilos de listas */
}
ul li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* tipo de letra*/
    font-size: 22px; /* tamaño de letra*/
    height: 60px; /* altura de cada opcion de la lista*/
}
ul li a{
    height: 60px;
    background-color: rgb(66, 63, 62); /* color de fondo*/
    display: block;
    border-left: 10px solid rgb(8, 96,176);
    border-right: 5px solid rgb(144,253,111);
    padding-left: 15px; /* separacion izquierda del texto*/
    text-decoration: none;
    color: #bfe1f1;
}
ul li a:hover{
    margin-left: 10px;/* separacion de lado izquierdo*/
    color: #b9b7b7;/* color de letra*/
    background-color: #0b1741;/* color de fondo*/
    box-shadow: 10px 10px 20px #000;/* sombra*/
    transform: rotate(4deg);/*movimiento de rotacion*/
    -moz-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
}
td{
    vertical-align: top;
}
body{
            background-color: #999999;
            font-family: 'opensans','Helvetica neue', Arial, Helvetica, sans-serif;
            font-size: 22px;
    }
        div{
            color: #0a0a0a;
            height: 100px;
            height: 100px;
            padding: 20px 10px 20px 40px;
            margin: 10px;
            border: 1px solid #999999;
            background-color: #bacbf0;
            border: solid 2px #999999;
            border-radius: 15px 0px 15px 0px;
            box-shadow: 2px 2px 5px #C0C2C3;
        }
